<div fxLayout="column">
  <div>
    <h2>Search hero</h2>
    <mat-divider></mat-divider>
  </div>
  <div>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Search</mat-label>
      <input type="text"
             placeholder="Search super Hero"
             aria-label=""
             matInput
             [(ngModel)]="term"
             (input)="search()"
             [matAutocomplete]="auto">
      <mat-autocomplete
        autoActiveFirstOption
        #auto="matAutocomplete"
        (optionSelected)="optionSelect($event)"
      >
        <mat-option *ngFor="let option of listHero" [value]="option">
          {{option.superhero}}
        </mat-option>
        <mat-option  *ngIf="listHero.length <= 0 && term">
          Not found result...
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</div>

<pre>{{heroSelect | json}}</pre>
