<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
   <app-sidebar [sideNav]="sidenav"></app-sidebar>
  </mat-sidenav>
  <app-toolbar [sideNav]="sidenav" ></app-toolbar>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>






