
  <mat-card class="m-2">
    <mat-card-header>
      <mat-card-title>{{item.superhero}}</mat-card-title>
      <mat-card-subtitle>{{item.alter_ego}}</mat-card-subtitle>
    </mat-card-header>
    <img [src]="item | image" [alt]="item.superhero" mat-card-image />
    <mat-card-content>
      <h3>{{item.publisher}}</h3>
      <p>
        <strong>First Success: </strong> {{item.first_appearance}}
        <br/>
        <strong>Persons: </strong> {{item.characters}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-button
        [routerLink]="['/hero', item.id]"
        color="warn">
        Read More.
      </button>
      <button
        mat-button
        [routerLink]="['/hero/edit', item.id]"
        color="accent">
        Edit.
      </button>
    </mat-card-actions>
  </mat-card>

