<mat-grid-list cols="1" *ngIf="!detailsHero; else details">
  <mat-grid-tile>
    <mat-spinner></mat-spinner>
  </mat-grid-tile>
</mat-grid-list>
<ng-template #details>
  <h1 class="pt-3">DETAILS</h1>
  <div fxLayout="row"
        fxLayout.xs="column"
       fxLayoutGap="30px"
  >
    <div fxFlex="50">
      <h2>{{detailsHero.superhero}}</h2>
      <mat-divider></mat-divider>
      <br/>
      <img [src]="detailsHero | image" [alt]="detailsHero.superhero" />
    </div>
    <div fxFlex="50">
      <h2>{{detailsHero.publisher}}</h2>
      <mat-divider></mat-divider>
      <br/>
      <mat-list>
        <mat-list-item>
          {{detailsHero.first_appearance}}
        </mat-list-item>
        <mat-list-item>
          {{detailsHero.characters}}
        </mat-list-item>
        <mat-list-item>
          {{detailsHero.publisher}}
        </mat-list-item>
        <mat-list-item>
          {{detailsHero.alter_ego}}
        </mat-list-item>
      </mat-list>
      <br/>
      <button mat-button  (click)="onBack()" color="primary" >
        Go Back!
      </button>
    </div>

  </div>

</ng-template>
