<mat-toolbar color="primary">
  <span class="p-5">Menú</span>
  <button mat-icon-button>
    <mat-icon (click)="sidenav.toggle()">close</mat-icon>
  </button>
</mat-toolbar>
<mat-nav-list role="list">
  <a routerLink="list"
     mat-list-item
     (click)="sidenav.toggle()">
    <mat-icon mat-list-icon>view_list</mat-icon>
    List Hero</a>

  <a routerLink="add"
     mat-list-item
     (click)="sidenav.toggle()">
    <mat-icon mat-list-icon>add</mat-icon>
    Add Hero</a>

  <a routerLink="search"
     mat-list-item
     (click)="sidenav.toggle()">
    <mat-icon mat-list-icon>search</mat-icon>
    Search</a>
</mat-nav-list>
