<h1 class="m-4">List Hero</h1>
<mat-divider></mat-divider>

<div fxLayout="row wrap"
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="2px"
     class="mt-5">
  <div fxFlex="33"
       fxFlex.lg="20"
       fxFlex.sm="30"
       *ngFor="let item of listHero">
     <app-card [itemHero]="item"></app-card>

  </div>
</div>




