
<h2>¿This Sure?</h2>
<hr/>
<p>Is about delete {{data.superhero}}
<br/>
¿Want at Delete?
</p>

<div>
  <button mat-button  (click)="onErase()" color="warn">Yes, delete!</button>
  <button mat-button  (click)="onClosed()" color="primary">No, close</button>
</div>
